In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#%matplotlib inline#for encoding
from sklearn.preprocessing import LabelEncoder   #for train test splitting
from sklearn.model_selection import train_test_split  #for decision tree object
from sklearn.tree import DecisionTreeClassifier #for checking testing results
from sklearn.metrics import classification_report, confusion_matrix #for visualizing tree 
from sklearn.tree import plot_tree

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#reading the data
df = pd.read_csv('/content/input_15000.csv')
df.head()

op = pd.read_csv('/content/ip.csv')
df.head()

  staker  blocks  age  faults  time  priority  eligible
0     S0       0    1     0.0   1.0       0.0         1
1     S1       0    1     0.0   1.0       0.0         1
2     S2       0    1     0.0   1.0       0.0         1
3     S3       0    1     0.0   1.0       0.0         1
4     S4       0    1     0.0   1.0       0.0         1

In [ ]:
#getting information of dataset
df = df.drop('staker', axis =1)
df = df.drop('priority', axis =1)
df.info()
#getting information of dataset
op = op.drop('staker', axis =1)
op = op.drop('priority', axis =1)
op.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   blocks    120000 non-null  int64
 1   age       120000 non-null  int64
 2   faults    120000 non-null  float64
 3   time      120000 non-null  float64
 4   eligible  120000 non-null  int64
dtypes: float64(2), int64(3)
memory usage: 4.6 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   blocks    120000 non-null  int64
 1   age       120000 non-null  int64
 2   faults    120000 non-null  float64
 3   time      120000 non-null  float64
 4   eligible  120000 non-null  int64
dtypes: float64(2), int64(3)
memory usage: 4.6 MB

In [ ]:
df.shape

(120000, 5)

In [ ]:
df.isnull().any()

blocks      False
age         False
faults      False
time        False
eligible    False
dtype: bool

In [ ]:
op.isnull().any()

blocks      False
age         False
faults      False
time        False
eligible    False
dtype: bool

In [ ]:
target = df['eligible']
df1 = df.copy()
df1 = df1.drop('eligible', axis =1)

target1 = op['eligible']
op1 = op.copy()
op1 = op1.drop('eligible', axis =1)

In [ ]:
# Defining the attributes
X = df1
Xtes=op1

In [ ]:
target

0         1
1         1
2         1
3         1
4         1
         ..
119995    0
119996    0
119997    0
119998    0
119999    1
Name: eligible, Length: 120000, dtype: int64

In [ ]:
#label encoding
le = LabelEncoder()
target = le.fit_transform(target)
target

le1 = LabelEncoder()
target1 = le1.fit_transform(target1)
target1

array([1, 1, 1, ..., 0, 0, 1])

In [ ]:
y = target
ytes=target1

In [ ]:
# # Splitting the data - 80:20 ratio
# X_train, X_test, y_train, y_test = train_test_split(X , y, test_size = 0.2, random_state = 42)
# print("Training split input- ", X_train.shape)
# print("Testing split input- ", X_test.shape)

In [ ]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
# Defining the decision tree algorithmdtree=DecisionTreeClassifier()
dtree = tree.DecisionTreeClassifier()
dtree.fit(X,y)
print('Decision Tree Classifier Created')

Decision Tree Classifier Created

In [ ]:
# Predicting the values of test data
y_pred = dtree.predict(Xtes)
print("Classification report - \n", classification_report(ytes,y_pred))

Classification report -
               precision    recall  f1-score   support

           0       1.00      1.00      1.00     39126
           1       1.00      1.00      1.00     80874

    accuracy                           1.00    120000
   macro avg       1.00      1.00      1.00    120000
weighted avg       1.00      1.00      1.00    120000